

* {
    box-sizing: border-box;
}


p {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: tomato;
    margin-bottom: 0px;
    padding: 20px;
    width: 30%;
    border: 2px solid red;
  }

  .blueParagraph {
      background-color: blue;
      border: 2px solid yellow;
  }

  #bigGreen:hover {
      font-size: 18px;
      background: green;

  }

  #purple {
      background-color: purple ;
  }